In [2]:
import pandas as pd
import numpy as np

In [3]:
'''Set:
    An unordered collection if data types which uses { } and does not akkow any duplicate values.'''


#Mutability of set

myset={"BMW","Ferrari","Benz","Audi",13}
print(myset)
#Updation
myset.add("Volkswagon")

{'Ferrari', 'Benz', 'BMW', 13, 'Audi'}

In [4]:
#Updation
myset.add("Volkswagon")
print(myset)

{'Volkswagon', 'Ferrari', 'Benz', 'BMW', 13, 'Audi'}

In [5]:
#Since we are able to add an element to the set,therefore 
#Set is mutable

In [6]:
'''List:
        An ordered collection of data types which uses [] and is mutable.
        The first character should be an alphabet.'''
mylist=["Data","False",239,420]
print(mylist)

['Data', 'False', 239, 420]

In [7]:
#Indexing of a list
#Positive indexing
print(mylist[0])
print(mylist[1])
print(mylist[2])
print(mylist[3])

Data
False
239
420

In [8]:
#Negative indexing
print(mylist[-1])
print(mylist[-2])
print(mylist[-3])
print(mylist[-4])

420
239
False
Data

In [9]:
#Append
mylist.append(34.20)
mylist

['Data', 'False', 239, 420, 34.2]

In [10]:
#Updating data
mylist[2]=True
mylist

['Data', 'False', True, 420, 34.2]

In [11]:
#Insert
mylist.insert(0,"Democracy")
mylist

['Democracy', 'Data', 'False', True, 420, 34.2]

In [12]:
#Update string
mylist[0]="India"
mylist

['India', 'Data', 'False', True, 420, 34.2]

In [13]:
#Itemtype
for x in mylist:
    print(type(x))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'int'>
<class 'float'>

In [14]:
#Inserting multiple values
a=[1,2,3]
b=[5,6,7]
a.extend(b)
a

[1, 2, 3, 5, 6, 7]

In [15]:
#Deleting listitems using various methods
a.pop(0)
del a[1]
a.clear()
a

[]

In [16]:
'''Tuple:
        It is an ordered collection of datatypes which uses () and is immutable'''
mytuple=('Dell','HP',123)
print(mytuple)

('Dell', 'HP', 123)

In [26]:
print(len(mytuple))

3

In [18]:
mytuple.pop(0)

AttributeError: 'tuple' object has no attribute 'pop'

In [27]:
'''From above,we can say that Tuple is immutable.
Similarly,update,insert,append and remove functions do not work.'''

'From above,we can say that Tuple is immutable.\nSimilarly,update,insert,append and remove functions do not work.'

In [28]:
'''Dictionary:
             Data is stored in terms in terms of key and values,uses {} and is mutable.'''
mydict={"Brand:" "BMW",
        "Color:" "Black",
        "Year of making:" "2028"}
print(mydict)

{'Color:Black', 'Year of making:2028', 'Brand:BMW'}

In [29]:
#Update
mydict.update({"Color": "red"})
mydict

{'Brand:BMW', 'Color', 'Color:Black', 'Year of making:2028'}

In [30]:
print(type(mydict))

<class 'set'>

In [31]:
'''Functions:
            A set of data which will be executed when it is invoked or called.'''

'Functions:\n            A set of data which will be executed when it is invoked or called.'

In [32]:
def add(a,b):
    print("The sum of the two given numbers is",(a+b))
add(2,3)

The sum of the two given numbers is 5

In [43]:
def sum(a,b):
    a=input("Enter a value")
    b=input("Enter b value")
    print("The sum is ",(a+b))

sum(a,b)

Enter a value1
Enter b value1
The sum is  11

In [44]:
def sum(a,b):
    a=int(input("Enter a value"))
    b=int(input("Enter b value"))
    print("The sum is ",+(a+b))
sum(a,b)

Enter a value1
Enter b value1
The sum is  2